.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.main-title {
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

.logout-block{
  display: flex;
  button {
    margin-left: auto;
  }
}
